.site-header {
    background-color: #334155;
    /* idk which color to use, the design didnt specify: 
    #64748B
    #EEC239
    #334155
    #5C6777
    */
    position: fixed;
    top: 0;
    width: -webkit-fill-available;  
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    margin-bottom: 20px;
}
.site-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imglogo{
    height: 4rem;
    width: auto;
}
.textlogo{
    font-size: 2em;
    padding-right: 0.5rem;
}
.collapseButton{
    visibility: hidden;
}
.active{
    color: #EEC239;
}

a {
    float: inline-start;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: large;
    padding: 1rem;
}

.site-identity {
    display: flex;
    align-items: center;
}

.site-identity a {
    font-size: 1.5em;
}

li, ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    vertical-align: -webkit-baseline-middle;
}
.branding {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 1rem 0 0rem;
    vertical-align: -webkit-baseline-middle;
}
.navlink:hover{
    color: #EEC239;
}
.shopping-bag-icon{
    filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(336deg) brightness(106%) contrast(101%);
}

@media (max-width: 750px) {
    .site-navigation {
        display: flex;
        position: initial;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav li {
        display: flex;
        align-items: center;
        margin-right: 0.5rem;
    }
    .collapseButton{
        padding-right: 2rem;
        display: flex;
        align-items: flex-end;
        visibility: visible;
    }
    .site-navigation{
        flex-direction: column;
    }
    .links{
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .hide{
        display: none;
        height:0;
    }

}